on:
  push:
    branches:
      - main
    tags:
      - "v*"

name: Release policy

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write

    steps:
      - name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependencies@v3.1.15
      - uses: actions/checkout@v4
        with:
          # until https://github.com/actions/checkout/pull/579 is released
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21.1"
      - name: Build
        run: |
          make policy.wasm
      - name: Annotate
        run: |
          make annotated-policy.wasm
      - name: Run e2e tests
        run: |
          make e2e-tests
      - name: Release
        uses: kubewarden/github-actions/policy-release@v3.1.15
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          oci-target: ghcr.io/${{ github.repository_owner }}/policies/kyverno-dsl
